.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-card {
    width: 30vw !important;
}

.sign-up-btn {
    width: 30%;
}

.signup-section {
    display: flex;
    width: 100%;
}

.back-arrow {
    font-size: 18px;
    font-weight: 400;
}

.back-link {
    font-size: 12px !important;
    text-decoration: none !important;
}

.user-name-field-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ml-20 {
    margin-left: 20px !important;
}
