.search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cart-count {
  background-color: white !important;
  color: black !important;
  border-radius: 1.25rem !important;
  margin-left: 3px !important;
  position: relative !important;
  top: -9px !important;
}

.h-500 {
  height: 600px !important;
}

.f-12 {
  font-size: 12px !important;
}

.bg-orange {
  background-color: #ed4807;
}

.text-white {
  color: white;
}

.custom-card {
  width: 25rem;
  height: 500px;
  margin: 5px;
  box-shadow: 8px 10px 8px #888888;
}

.custom-container {
  margin: 56px 5px 5px 5px;
}

.ml-auto {
  margin-left: auto;
}

.navbar {
  padding: .5rem;
}
